<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="/Language" class="nav-link">
                <i class="nav-icon fas fa-language"></i>
                <p>
                    Languages
                </p>
            </a>
        </li>
    </ul>
</nav>