<a href="~/" class="brand-link">
    <img src="~/img/buddy-logo.png" alt="Buddy Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Buddy</span>
</a>