@model LanguageModel

@{
    ViewBag.PageTitle = "Languages.AddNew";
}

<form asp-controller="Language" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            Languages.AddNew
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Index">Languages.BackToList</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                Common.Save
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>