@model Buddy.Web.Areas.Localization.Models.LanguageModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>