@using Buddy.Web.Mvc.Pages.Shared.Components.HeaderLeft
@using Buddy.Web.Mvc.Pages.Shared.Components.HeaderRight
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    @(await Component.InvokeAsync<HeaderLeftViewComponent>())
    @(await Component.InvokeAsync<HeaderRightViewComponent>())
</nav>